@charset " UTF-8";

@font-face {
    font-family: 'Mario';
    src: url('../fontes/SuperMario256.ttf') format('truetype'); 
}

body{
    font-family: 'Mario',sans-serif;
}

.login-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3.5em;
}
.login-header img{
    width: 280px;
   margin-bottom: 10px;
   
}

.login-header p{
    font-size: 0.2em;
    color: red;
    font-weight: 100px;
}

.login-button{
    color: black;
    border-radius: 10px;
    border: 3px solid red;
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    max-width: 310px;
    font-size: 0.4em;
    cursor: pointer;
}

.login-button:hover{
    background-color: red;
    color: white;
}

@media(max-width:480px){
    .login-header{
        font-size: 3.2em;
    }

    
    .login-header img{
        width: 220px;
        margin-top: 140px;
    }
}

@media(max-width:370px){
    
.login-header{
    font-size: 2.6em;
}

.login-header img{
    
    margin-top: 50px;
}
}