@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppings",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(209, 32, 32);
   
}

.game-board {
    width: 100%;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-bottom: 15px solid green;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.clouds{
    position: absolute;
    width: 400px;
    animation: cloud-animation 25s infinite linear;
    z-index: 0;
}


.pipe {
    
    width: 90px;
    position: absolute;
    bottom: 0;
   
    animation: pipe-animation 1.5s infinite linear;
}

@media(max-width:850px){
    .pipe{
        animation: pipe-animation 1.2s infinite linear;
    }
}

@media(max-width:700px){
    .pipe{
        animation: pipe-animation 0.9s infinite linear;
    }
}

@media(max-width:500px){
    .pipe{
        animation: pipe-animation 0.7s infinite linear;
    }
}

.mario {
   
    width: 180px;
    position: absolute;
    bottom: 0;
}



.jump{
    animation: jump 500ms  ease-out;
}

.score{
    color: aliceblue;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8em;
}

.score--value{
    font-weight: 700;
    font-size: 3.5rem;
    display: block;
}

.menu-screen{
    z-index: 2; 
    color: red;
    display: none;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    flex-direction:column;
 
}

.game-over{
    z-index: 2; 
    border: 3px solid red;
    background-color: white;
    padding: 5px;
    font-size: 3rem;
    font-weight: 900;
}

.final-score{
    margin-top: 3px;
    z-index: 2; 
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.btn-play{
    z-index: 2; 
    font-size: 1.3rem;
    border: 2px solid red;
    border-radius: 80px;
    padding: 10px 15px 10px 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

@keyframes pipe-animation {
    from {
        right: -90px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {

        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes cloud-animation{
    from{
         right: -350px;
        
    }

    to{
        right: 100%;
        
    }
}